.rcontroller {
  border: 5px solid #333;
  background-color: #333;
  border-radius: 3px;
  min-height: 60px;
  width: 120px;
  padding: 3px;
  float: left;
  margin: 5px;
}

.rcontroller .container {
  border-radius: 10px;
  background-color: #333;
  width: 100px;
  padding: 2.5px;
  margin: 2.5px;
  text-align: center;
}

.rcontroller .container.loaded {
  color: white;
}

.rcontroller .container.not-loaded {
  color: red;
}

/* .loading
{
    left: 35%;
    top: 15%
}
*/
